.container {
    width: 100%;
}

.modal-header {
    border-bottom: 0px;;
}

.custom-font {
    font-size: 14px;
}

.custom-font {
    line-height: 2em;
}

.resposta {
    font-size: 12px;
    line-height: 1.5em;
}
.modal-button {
    width: 100%;
}

.btn-modal {
    width: 210px;
}

.btn-modal:last-child {
    margin-left: 15px;
}

