.clubpetro {
    font-size: 14px;
    font-family: sans-serif;
    color: #424242;
}

.ml-20 {
    margin-left: 20px;
}

.bg-lg {
    color: #8c8c8c !important;
}

.orange {
    color: #f24e1e;
}

.green {
    color: #7ed748;
}

.bg-green {
    background-color: #7ed748;
}

.bg-orange {
    background-color: #f24e1e;
}

.pink {
    color: #fe68a7;
}

.color-alert {
    color: #ffd18b
}

.active > i {
    color: #ea5931 !important;
}

.active {
    border-left: 2px solid #ea5931;
    background-color: #eaeaea;
}

.main-sidebar {
    float: left;
}

.main-content {
    padding-top: 80px;
    width: 100%;
}

.right {
    float: right;
}

.left {
    float: left;
}

.mt-25 {
    margin-top: 25px;
}
.description {
    font-size: 14px;
    font-weight: lighter;
    color: #a09f9f;
}

.strong {
    font-weight: bold !important;
}

.mb-25 {
    margin-bottom: 25px;
}

.fs-20 {
    font-size: 20px !important;
}

.gray {
    color: #a09f9f;
}

.button-href {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;;
}

.ml-15 {
    margin-left: 15px;
}

.va-middle {
    vertical-align: middle !important;
}

.bg-yellow {
    background-color: #f2e941;
}

.bg-red {
    background-color: #EA001B;
}

.progress {
    height: 5px;
}