.logo {
    background-color: #ffffff;
    border-bottom: 0 solid transparent;
    transition: .3s;
    display: block;
    float: left;
    height: 80px;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto';
    letter-spacing: 0.05em;
    padding: 0 15px;
    font-weight: bold;
    overflow: hidden;
    width: 250px;
}

.logo .logo-mini {
    display: none;
}

.logo .logo-lg {
    display: block;
}

a:hover {
    text-decoration: none;
    color: initial;
}

a {
    color: initial
}